body {
	margin-top: 60px;
}
.writefilebutton {
}
a.navbar-brand {
  color: #ebe314;
}
.btn-primary {
  background-color: #ebe314;
  border-color: #dbd304;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active {
	background-color: #dbd304;
	border-color #bbb304;
}
