body {
	margin-top: 60px;
}
.writefilebutton {
}
a.navbar-brand {
  color: #ebe314;
}
.btn-primary {
  background-color: #fbf314;
  border-color: #dbd304;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	background-color: #fbf364;
	border-color: #dbd334;
}
.inputThings {
	margin-top: 4px;
	margin-bottom: 4opx;
}
